@mixin on-circle($item-count, $circle-size, $item-size, $item-top) {
  width: $circle-size;
  height: $circle-size;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  list-style: none;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  pointer-events: none;
  top: $item-top;

  > * {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -($item-size);
    width: $item-size;
    height: $item-size;
    padding: 0;
    list-style: none;
    border-radius: 50%;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-duration: 2s;

    $angle: (90 / $item-count);
    $rot: 55;

    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform: rotate($rot * 1deg) translate($circle-size / 2) rotate($rot * -1deg);
      }

      $rot: $rot + $angle;
    }
  }
}

.garland {
  display: flex;
  justify-content: center;
  height: 900px;
  width: 800px;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  z-index: 90;
  overflow: hidden;
}

.lightrope1 {
  @include on-circle($item-count: 22, $circle-size: 580px, $item-size: 6px, $item-top: 200px);
}
.lightrope2 {
  @include on-circle($item-count: 20, $circle-size: 540px, $item-size: 6px, $item-top: 160px);
}
.lightrope3 {
  @include on-circle($item-count: 18, $circle-size: 500px, $item-size: 6px, $item-top: 130px);
}
.lightrope4 {
  @include on-circle($item-count: 16, $circle-size: 420px, $item-size: 6px, $item-top: 140px);
}
.lightrope5 {
  @include on-circle($item-count: 14, $circle-size: 340px, $item-size: 6px, $item-top: 130px);
}
.lightrope6 {
  @include on-circle($item-count: 12, $circle-size: 320px, $item-size: 6px, $item-top: 80px);
}
.lightrope7 {
  @include on-circle($item-count: 10, $circle-size: 240px, $item-size: 6px, $item-top: 100px);
}
.lightrope8 {
  @include on-circle($item-count: 8, $circle-size: 140px, $item-size: 6px, $item-top: 140px);
}

.lightrope li:nth-child(2n + 1) {
  animation-duration: 1.8s;
}

.lightrope li:nth-child(4n + 2) {
  animation-duration: 1.1s;
}

.lightrope li:nth-child(3n + 1) {
  animation-duration: 1.4s;
}

.lightrope li.red {
  animation-name: red;
}
.lightrope li.green {
  animation-name: green;
}
.lightrope li.blue {
  animation-name: blue;
}
.lightrope li.yellow {
  animation-name: yellow-animation;
}

.lightrope li.multicolor:nth-child(1n + 1) {
  animation-name: red;
}
.lightrope li:nth-child(2n + 2).multicolor {
  animation-name: green;
}
.lightrope li:nth-child(3n + 3).multicolor {
  animation-name: blue;
}
.lightrope li:nth-child(4n + 4).multicolor {
  animation-name: yellow-animation;
}

@keyframes green {
  0%,
  100% {
    background: rgba(0, 247, 165, 1);
    box-shadow: 0px 2px 12px 2px rgba(0, 247, 165, 1);
  }
  50% {
    background: rgba(0, 247, 165, 0.4);
    box-shadow: 0px 2px 12px 2px rgba(0, 247, 165, 0.2);
  }
}
@keyframes blue {
  0%,
  100% {
    background: rgba(0, 255, 255, 1);
    box-shadow: 0px 2px 12px 2px rgba(0, 255, 255, 1);
  }
  50% {
    background: rgba(0, 255, 255, 0.4);
    box-shadow: 0px 2px 12px 2px rgba(0, 255, 255, 0.2);
  }
}
@keyframes red {
  0%,
  100% {
    background: rgba(247, 0, 118, 1);
    box-shadow: 0px 2px 12px 2px rgba(247, 0, 118, 1);
  }
  50% {
    background: rgba(247, 0, 118, 0.4);
    box-shadow: 0px 2px 12px 2px rgba(247, 0, 118, 0.2);
  }
}
@keyframes yellow-animation {
  0%,
  100% {
    background: rgba(255, 255, 0, 1);
    box-shadow: 0px 2px 12px 2px rgba(255, 255, 0, 1);
  }
  50% {
    background: rgba(255, 255, 0, 0.4);
    box-shadow: 0px 2px 12px 2px rgba(255, 255, 0, 0.2);
  }
}
